body,
p {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    width: 13%;
    margin-top: 0.3em;
    padding: 2em;
}

nav a {
    text-decoration: none;
    color: black;
}

footer a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav img {
    height: 20px;
}

main {
    width: 50%;
    margin: 5.6em auto;
    text-align: center;
}

main img {
    width: 50%;
}

input {
    width: 60%;
    padding: 0.8em;
    border-radius: 30px;
    border: 1px solid gray;
    margin-bottom: 10px;
}

.button-container button {
    padding: 1em;
    border: none;
}


/* For the text of the language option */

.link-text {
    margin-top: 15px;
    align-content: space-between;
}


/* Targeted the links of the Language option*/

.link-text a {
    text-decoration: none;
    color: blue;
}

footer {
    background-color: rgb(240, 236, 236);
}

.footer-top {
    padding: 1em;
}

.footer-bottom {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
}


/* Targeting the links for the right part of the footer */

.left a {
    margin-right: 1em;
}


/* Targeting the links for the right part of the footer */

.right a {
    margin-right: 1em;
}